* {font-family:Verdana, Geneva;}

h1 {display: inline;}

h2 {display: inline;}

ul {list-style-type: square;}

.name {
  font-size: 225%;
}

.company {
  font-weight:bold;
}

.start-end-dates {
  text-indent:10%
  direction:rtl;
}
.job-title {font-style:italic;}

.quote {
  font-style: italic;
  font-size: 85%;
}

.sublist-1 {
  text-indent:0%;
  list-style:none;
  }

.sublist-2 {
  text-indent:2%;
  list-style:none;
}

.sublist-3 {
  text-indent:2%;
}
  
.subheading-1 {
  text-indent:0%;
  list-style:none;
}

.subheading-2 {
  text-indent:0%;
  list-style:none;
  text-decoration:underline;
}

.link {
  font-size:85%;
  font-style:italic;
}

#one-col {
  column-count: 1;
  -moz-column-count: 1;
  -webkit-column-count: 1;
}

#two-col {
  column-count: 2;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-width: 35px;
}